<launch>
<!-- base_link -> imu_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu"
        args="0 0 0.02 0 0 0 base_link imu_link" />
  
  <!-- base_link -> lidar_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar"
        args="0 0 0.15 0 0 0 base_link lidar_link" />

  <!-- base_link -> lidar_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_base_laser"
        args="0 0 0 0 0 0 base_link base_laser" />
  
  <!-- base_link -> gps_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_gps"
        args="0.05 0 0.04 0 0 0 base_link gps_link" />
  
  <!-- base_link -> camera_link (quay xuống) -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera"
        args="0 0 -0.1 -1.5708 0 0 base_link camera_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map" />
  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find cart_teb_test)/worlds/empty_world.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
  </include>

  <!-- Spawn Iris model -->
  <node name="spawn_iris" pkg="gazebo_ros" type="spawn_model" 
        args="-sdf -model iris_with_ardupilot -file $(env HOME)/ardupilot_gazebo/models/iris_with_ardupilot/model.sdf"
        output="screen"/>

</launch>

