<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
        name="laser_filter" output="screen">
    <rosparam>
      scan_filter_chain:
      - name: range_filter
        type: laser_filters/LaserScanRangeFilter
        params:
          use_message_range_limits: false
          lower_threshold: 0.5       # Min 15cm - drone body
          upper_threshold: 15.        # Max 8m
          lower_replacement_value: -.inf
          upper_replacement_value: .inf
    </rosparam>
    <remap from="scan" to="/scan"/>
    <remap from="scan_filtered" to="/scan_filtered"/>
  </node>

  <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
          -configuration_directory $(find cart_teb_test)/config
          -configuration_basename drone_2d.lua">
    <remap from="scan" to="/scan_filtered"/>
    <remap from="imu" to="/mavros/imu/data"/>
    <remap from="fix" to="/mavros/global_position/global"/>
    <remap from="odom" to="/mavros/local_position/odom"/>
    <param name="use_sim_time" value="true"/>
  </node>
  <node name="cartographer_occupancy_grid_node"
        pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node"
        args="-resolution 0.05" output="screen"/>
</launch>
