<launch>
  <!-- Args -->
  <arg name="firmware" default="ardupilot"/>  <!-- "px4" hoặc "ardupilot" -->
  <arg name="fcu_url" default="/dev/ttyACM0:115200"/>

  <!-- PX4 case -->
  <group if="$(eval arg('firmware') == 'px4')">
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <param name="/mavros/setpoint_velocity/mav_frame" value="BODY_NED"/>
        <!-- Global position params -->
        <rosparam param="/mavros/global_position">
          tf:
            send: false
            frame_id: "map"
            child_frame_id: "base_link"
            global_frame_id: "earth"
          gp_origin:
            auto_set: true
            auto_set_timeout: 30
        </rosparam>
    </include>
  </group>

  <!-- ArduPilot case -->
  <group if="$(eval arg('firmware') == 'ardupilot')">
    <include file="$(find mavros)/launch/apm.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <param name="/mavros/setpoint_velocity/mav_frame" value="BODY_OFFSET_NED"/>
    </include>
  </group>

  <!-- Common params -->
  <param name="/mavros/setpoint_velocity/mav_frame" value="BODY_OFFSET_NED"/>
</launch>
