<launch>
  <!-- 2. World tùy chỉnh -->
  <arg name="world" default="$(find cart_teb_test)/worlds/new_world.world" />

  <!-- 3. Vehicle (ví dụ: iris) -->
  <arg name="vehicle" default="iris" />

  <!-- 4. Gọi lại posix_sitl.launch -->
  <include file="$(find px4)/launch/posix_sitl.launch">
    <arg name="vehicle" value="$(arg vehicle)" />
    <arg name="world"   value="$(arg world)" />
  </include>
</launch>
